.flexcontainer {
  display: flex;
  align-items: center;
}

.flexitemmargin {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.CarouselImgContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
@media (max-width: 390px) {
  .CarouselImgContainer {
    margin: 10px;
  }
}
