.page-container {
  margin: 4px;
}

@media screen and (max-width: 639px) {
  .page-container {
    margin: 12px;
  }
}

.flexcontainer {
  display: flex;
  align-items: center;
}

.flexitemmargin {
  margin: 4px;
}

@media screen and (max-width: 767px) {
  .flexitemmargin {
    margin: 12px;
  }
}
